.centered {
    text-align: center;
}

.book-attribute {
    margin-right: 15px;
}

.right-aligned {
    text-align: right;
    margin-bottom: 5px;
}

.book-fab {
    margin-right: 10px;
}

.top-margin-medium {
    margin-top: 5px;
}

.right-margin-medium {
    margin-right: 5px;
}
